In [1]:
import json
import pandas as pd
# import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from itertools import combinations

In [2]:
with open("summary.json") as f:
    smry = json.load(f)
data = pd.read_csv("refined.csv")

In [3]:
d = list(data.keys())
dl = [f"Q{i}" for i in range(len(d))]
l = {d[i]: dl[i] for i in range(len(d))}
data.rename(l, axis=1, inplace=True)

In [4]:
data

     Q0  Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10  Q11  Q12
0     0   0   0   0   0   0   0   0   0   0    0    0    0
1     1   1   1   1   1   1   1   0   0   0    1    1    1
2     2   1   1   2   2   2   1   0   1   0    2    0    1
3     2   1   2   3   3   3   1   1   0   0    3    1    1
4     1   2   1   4   2   1   2   2   1   1    1    0    1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...
307   3   1   1   5   4   2   1   2   0   0    2    1    1
308   0   0   2   3   0   2   3   0   0   0    0    1    1
309   1   1   1   1   1   2   0   0   0   0    1    1    1
310   1   1   2   5   0   1   2   0   0   2    3    0    1
311   3   0   1   2   1   1   1   0   1   0    1    1    1

[312 rows x 13 columns]

In [18]:
len(data.query("(Q5==2 and Q4==0) or (Q5==2 and Q9==0)"))

122